#back
{
	-fx-background-image: url('/resourcefile/loginall.png');
    -fx-background-size: cover;
}
#title
{
	-fx-background-image: url('/resourcefile/select.png');
    -fx-background-size: cover;
}
#window
{
	-fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #808080, 8, 0.5, 1, 1);
}
.rx-fill-button
{
	-rx-fill: #B68564;
	-fx-border-radius:5px;
}